.center-content {
  display: flex;
  justify-content: center; /* centrado horizontal */
  align-items: center;     /* centrado vertical */
  height: 100%;            /* ocupa todo el alto del contenido */
}
